body {
  font-family: Arial, sans-serif;
  background-color: #f8e3d1;
  text-align: center;
  margin: 0;
  padding: 20px;
  display: flex; /* Thêm dòng này */
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  height: 100vh; /* Chiều cao 100% viewport */
}

.container {
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #ff6b6b;
}

.birthday-image {
  width: 300px;
  margin: 20px 0;
}

.friend-image {
  width: 300px;
  margin: 20px 0; /* tạo hình tròn cho ảnh */
}

.balloons img {
  width: 50px;
  margin: 10px;
}
